body {
  background-color: yellow;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form, .card, .list {
  align-items: center;
  background-color: red;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
}

label {
  margin-bottom: 30px;
}

.card {
  background-color: green;
}

.list {
  background-color: blue;
}
