body {
  background-color: yellow;
}

form {
  align-items: center;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  padding: 20px;
}

h1 {
  text-align: center;
}

label {
  margin-bottom: 30px;
}
